.border {
  border: 1px solid;
  padding: 10px;
}

img {
  width: 100px;
}

.card {
  width: 200px;
}

.horizontal {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.rata {
  text-align: center;
}